node_modules/
dist/
dist-ssr/
build/

.env
.env.local
.env.*.local

.vite/
*.local

*.log
npm-debug.log*
pnpm-debug.log*

coverage/

.DS_Store
Thumbs.db

.idea/
.vscode/*
!.vscode/extensions.json

*.tsbuildinfo

# Generado por @tanstack/router-plugin a partir de src/routes/**
src/routeTree.gen.ts
README.md
